<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Central de Erros</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    
    
    {% load static %}
    <link rel="stylesheet" href= "{% static "addError.css" %}" type="text/css">    
    <link rel="stylesheet" href= "{% static "base.css" %}" type="text/css">
</head> 
<body>
    <header>
        <h2>Bem vindo {{user}}. <span> Seu token é </span> <span> {{token}}.</span></h2> 
        
        <div>
            <a href="/"><span> Voltar </span> </a>

            <a href="/logout" > <span> Sair </span></a>
        </div>
    </header>

    <div class="forms">
     
        <h2>
            <strong>Adicionar Erro</strong>
        </h2>

        <form method="post">    
            {% csrf_token%}
            
            <p><label>Título:</label></p> 
            <input type="text" name="title" required>
            <p>
                <label>Categoria:</label>    
                <select name="category" required>
                    <option value="">Selecione a categoria</option>
                    <option value="PRODUÇÃO">Produção</option>
                    <option value="HOMOLOGAÇÃO">Homologação</option>
                    <option value="DEV">Dev</option>
                </select>
            </p>

              
            <p>
                <label class="level">Level:</label>
                <select name="level" required>
                    <option value="">Selecione o level</option>
                    <option value="ERROR">Error</option>
                    <option value="WARNING">Warning</option>
                    <option value="DEBUG">Debug</option>
                </select>    
            </p>
            
            <p>
                <label>Descrição:</label>
                <input type="text" name="description" required>
            </p>
            
            <p>
                <label>Endereço:</label>
                <input type="text" name="address" required>
            </p>

            {% for field in form%}
                {% for error in field.errors %}
                    <p style="color: red;">{{error}}</p>
                {% endfor %}
            {% endfor %}

            {% if form.non_field_errors %}
                <div style="color: red;">
                    <p>{{form.non_field_errors}}</p>
                </div>  
            {% endif%}
            <input type="submit" value="Adicionar Erro">
        </form>
            
    </div>


</body>
</html>