<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Central de Erros</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    
    {% load static %}
    <link rel="stylesheet" href= "{% static "error.css" %}" type="text/css">
    <link rel="stylesheet" href= "{% static "base.css" %}" type="text/css">
</head>
<body>
    <header>
        <h2> Bem vindo {{user}}. <span> Seu token é </span> <span>{{token}}.</span></h2> 
        
        <div>
            <a href="/"><span> Voltar </span> </a>

            <a href="/logout" > <span> Sair </span></a>
        </div>
    </header>
    

    <main>
        <div class="teste">
            <h1>Erro no {{error.address}} em {{error.date|date:"d/m/Y H:i:s"}}</h1>
        </div>
        <div class="grid-container">

            <div class="grid-item left">
                <h3>Título</h3>
                {{error.title}} 
            </div>

            <div class="grid-item">
                <h3>Categoria</h3>
                <span>{{error.category}}</span>
            </div>
            
            <div class="grid-item left">
                <h3>Detalhes</h3>
                {{error.description}}
            </div>

            <div class="grid-item">
                <h3>Eventos</h3>
                {{error.events}}
            </div>

            <div class="grid-item">
                <h3>Coletado por</h3>
                {{error.user}} - {{errorUser}}
            </div>



            <!-- <div class="grid-item">
                <h3>Coletado por</h3>
                {{error.user}} 
                {{errorUser}}
            </div> -->
        </div>
    </main>
</body>
</html>

